/* Very nice blue: #5271ff */

/* Generic Animations */
@keyframes pop {
    /* Increase size slightly*/
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

@keyframes fadeIn {
    /* A normal fade in */
    from {opacity: 0%;}
    to {opacity: 100%;}
}

@keyframes fadeOutRollDown {
    /* Fade out while translating down */
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
        transform: translateY(1em);
    }
}

@keyframes fadeInRollDown {
    /* Fade in while translating down */
    from {
        opacity: 0%;
        transform: translateY(-1em);
    }

    to {
        opacity: 100%;
        transform: translateY(0);
    }
}

@keyframes fadeOutSlideLeft {
    /* Fade out while sliding to the left */
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
        transform: translateX(-1em);
    }
}

@keyframes fadeOutSlideRight {
    /* Fade out while sliding to the right */
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
        transform: translateX(1em);
    }
}

@keyframes fadeInSlideLeft {
    /* Fade in while sliding to the left */
    from {
        opacity: 0%;
        transform: translateX(1em)
    }

    to {
        opacity: 100%;
        transform: translateX(0em);
    }
}

@keyframes fadeInSlideRight {
    /* Fade in while sliding to the right */
    from {
        opacity: 0%;
        transform: translateX(-1em)
    }

    to {
        opacity: 100%;
        transform: translateX(0em);
    }
}

/* Animations */
body {
    animation-name: fadeIn;
    animation-duration: 2s;
}

/* Define Font */
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-ExtraBold.ttf");
}

/* Text */
h1, h2, h3, h4, p {
    font-family: 'Open Sans', sans-serif;
    color: #5271ff;
}

h1, h2, h3, h4 {
    letter-spacing: 0.02em;
}

h1 {
    font-size: 6em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 3em;
}

h4 {
    font-size: 2em;
}

/* Generic Spacing */
div {
    margin: 1em;
    padding:0.5em;
}

.centered {
    display: flex;
    justify-content: center;
}

.spacer {
    margin: 5em;
}