/* Per Section Styling */

/* Header and Footer */
header, footer {
    background-color: #5271ff;

    padding: 3em;
}

header h1, footer h1, header h2, footer h2 {
    color: white;
}

/* Skill Reel */
#skillReel {
    display: flex;
    align-items: center;
    justify-content: center;

    animation-fill-mode: forwards;
    /*animation: name duration timing-function delay iteration-count direction fill-mode;*/
}

#skillReel .logo {
    width: 20em;
    height: 20em;

    margin: 0em 1em;
}

#skillReel h2 {
    padding: 1em;
}

/* Skill List */
#skillList {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 2em;
}

.skillItem {
    padding: 0em 2em;
}

.skillItem img {
    width: 7em;
    height: 7em;
}

.skillItem .skillItemDesc {
    display: none;

    background-color: #5271ff;
}

.skillItem p {
    color: white;
}

.skillItem img:hover + .skillItemDesc {
    /* Show popup when hovering on logo */
    display: block;
    position: absolute;

    animation: fadeInRollDown 0.5s ease forwards 1;
}