/* Per Section Styling */

/* Header and Footer */
header, footer {
    background-color: #5271ff;

    padding: 3em;
}

header h1, footer h1, header h2, footer h2 {
    color: white;
}

header {
    display: flex;
}

header h1 {
    width: 90%;
}

header img {
    /* For image links */
    width: 5em;
    height: 5em;

    padding-top: 0.7em;
    padding-left: 3em;
}

header img:hover {
    animation: pop 0.5s ease forwards 1;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

footer p {
    color: white;
    padding: 2em;
}

footer img {
    /* For image links */
    width: 5em;
    height: 5em;

    padding-top: 0.7em;
    padding-left: 3em;
}

footer a:hover {
    animation: pop 0.5s ease forwards 1;
}

footer a:link, footer a:visited {
    text-decoration: none;
}

/* Skill Reel */
#skillReel {
    display: flex;
    align-items: center;
    justify-content: center;

    animation-fill-mode: forwards;
    /*animation: name duration timing-function delay iteration-count direction fill-mode;*/
}

#skillReel .logo {
    width: 20em;
    height: 20em;

    margin: 0em 1em;
}

#skillReel h2 {
    padding: 1em;
}

/* Skill List */
#skillList {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 2em;
}

.skillItem {
    padding: 0em 2em;
}

.skillItem img {
    width: 7em;
    height: 7em;
}

.skillItem .skillItemDesc {
    display: none;

    background-color: #5271ff;
}

.skillItem p {
    color: white;
}

.skillItem img:hover + .skillItemDesc {
    /* Show popup when hovering on logo */
    display: block;
    position: absolute;

    animation: fadeInRollDown 0.5s ease forwards 1;
}

/* Portfolio */
#portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
}

#portfolioItem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    max-width: 40%;
    min-width: 40%;
}

#portfolioItem h4 {
    margin: 1em;
}

#portfolioLogo {
    width: 9em;
    height: 9em;
}

#portfolioLArr, #portfolioRArr {
    width: 3em;
    height: 3em;
}

#portfolioLArr:hover, #portfolioRArr:hover {
    animation: pop 0.5s ease forwards 1;
}